
  


  .jumbotron {
    color:antiquewhite;
  }

  .jumbotron {
    background: 
    linear-gradient(
      rgba(197, 230, 250, 0.25), 
      rgba(197, 250, 246, 0.25)
    ),
    url("../images/CO_River_Grand_Canyon.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* color:white !important; */
    height:50vh;
    text-align: center;
    font-family: 'Verdana', sans-serif;
    font-size: 30px;
    font-weight: bold;
    }


    hr.rounded {
    border-top: 8px solid #1375b0;
    border-radius: 5px;
    }
    
    h3 {
      border-top: 6px solid #1375b0;
      width: 100%;
      float: none;
      display: flex;
    }

  
  
    ul {
      text-align: center;
      list-style-position: inside;
  }

 
hr.rounded {
  border-top: 8px solid #1375b0;
  border-radius: 5px;
}

  .tableauPlaceholder {
    width: 1650px;
    margin-left : auto;
    margin-right: auto;
    /* padding-top: 50px;
    padding-right: 0px;
    padding-bottom: 50px;
    padding-left: 200px; */
    /* padding-left: 200px; */
    /* position: relative; */
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  

  /* Dropdown Button */
.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
